<% provide(:titile, "Top") %>
<div class="center jumotron"> 
    <h1>勤怠管理システム</h1>
    <p>このアプリケーションでは、登録されたユーザーの勤怠情報を閲覧・登録・編集する事ができます。</p>
    <%= link_to "Sign up", '#', class: "btn btn-lg btn-primary" %>
</div>